@model UploadFotosFiap11NetService.Models.ImageFile

<div class="upload-form-container">
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="upload-form-group">
            @Html.Label("File")
            <input type="file" name="pic" accept="image/*">
        </div>
        <div class="upload-form-group">
            <input type="submit">
        </div>
    }
</div>


